*.iml
.idea/
.gradle/

out/
build/

.DS_Store

*.class
*.csv
!experiments/**/*.csv
*.orig
*.kotlin_module
*.lock
*.bin
*.icloud
.DS_Store
*.bin
*.bin
*.properties
*.bin
*.bin
.gradle/6.7/executionHistory/executionHistory.bin
*.bin
*.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
